
		<div class="float cf mid" >
			<div class="float-header">
				<h3><a href="#" class="close">×</a>为指定客户设置密价</h3>
			</div>
			<div class="float-cont cf">
				<!--表单展示-->
				<div class="inner-cont" style="margin-top: 50px;">
					<div class="form-horizontal">
						<!--默认-->
						<div class="control-group">
							<label class="control-label" for="">指定商户:</label>

							<div class="controls">
								<div class="mod-select-group open ">
									<!--open为打开-->
									<div class="mod-select">
										<input type="text"><a href="#" class="touch"><i class="icon-caret"></i></a>
									</div>
									<div class="dropdown">
										<ul class="select-list">
											<li><a href="#">行星网吧－7636345</a></li>
											<li><a href="#">行星网吧－7636345</a></li>
											<li><a href="#">行星网吧－7636345</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="float-footer">
				<button type="submit" class="btn-normal btn-middle">确认</button>
				<button class="cancel btn-thin btn-middle">取消</button>
			</div>
		</div>