@charset "utf-8";
/*Common*/
body{font-family:"Microsoft Yahei",Arial,sans-serif; background-color:#f8f8f8;}
a,a:link,a:active,a:visited{color:#727272;text-decoration:none;-moz-transition:all 0.2s;-webkit-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;}
a:hover{color:#8257ff;text-decoration:underline;}
.grid-980{width:980px;margin:0 auto;}
.logo{background-image:url("/public/mobile/images/logo.png");background-size:140px auto;width:140px;height:66px;text-indent:-9999px;margin:26% auto 0;}
.btn{margin:35% 10px 0;}
.btn a{display:block;font-size:18px;text-align:center;line-height:48px;height:50px;color:#fff;opacity:0.95;}
a.home{background-color:#cb0c14;border-radius:8px;}
a.re{background-color:#000;border-radius:8px;margin-top:10px;}
/*main-nav*/
.box-flex {-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-ms-box-orient:horizontal;box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;}
.box-flex .flex { -webkit-box-flex:1; -moz-box-flex:1; -o-box-flex:1; -ms-flex:1; flex:1;}
.main-nav { height:42px; border-top:1px solid #e0e0e0; border-bottom:1px solid #f2f2f2; background:#ededed;}
.main-nav a { display:block; height:42px; line-height:42px; text-align:center; font-size:16px; color:#666; border-right:1px solid #e0e0e0;}
.main-nav a:hover { text-decoration:none; color:#333;}
.main-nav .curr,.main-nav .curr:hover { color:#c00000; background:#fff;cursor:default;}
/*mess*/
.mess-list{background-color:#fff;}
.mess-list li { padding:10px; border-bottom:1px solid #f2f2f2;}
.mess-list li time { display:block; font-size:10px; line-height:20px; color:#8e8e8e;}
.mess-list li p { font-size:14px; line-height:24px; color:#333;}
.more-info { padding:15px 0; line-height:20px; text-align:center; font-size:16px;}
.more-info a { color:#666;}
.more-info a:hover { color:#333; text-decoration:none;}

/*footer*/
.footer-nav {position:fixed; left:0; bottom:0; z-index:9999; width:100%; height:44px; background-color:#000;}
.footer-nav a { display:block; height:44px; text-align:center; line-height:44px; font-size:14px; color:#5e616d;}
.footer-nav a:hover,.footer-nav .curr { color:#c00000; text-decoration:none;}
.footer-nav i { display:inline-block; margin-right:5px; vertical-align:middle; width:20px; height:20px; background-image:url(/public/mobile/images/ico_bg.png); background-size:40px auto;}
.footer-nav .info { background-position:0 -20px;}
.footer-nav a:hover .info,.footer-nav .curr .info { background-position:-20px -20px;}
.footer-nav .floor { background-position:0 -40px;}
.footer-nav a:hover .floor,.footer-nav .curr .floor { background-position:-20px -40px;}
.footer-nav .cus { background-position:0 -60px;}
.footer-nav a:hover .cus,.footer-nav .curr .cus { background-position:-20px -60px;}
.footer-nav .score { background-position:0 0;}
.footer-nav a:hover .score,.footer-nav .curr .score { background-position:-20px 0;}

/*search
*/
.search { padding:6px 0; height:32px; background-color:#d4d4d4;}
.search-con { margin:0 10px; height:32px;}
.search .txt-curr { background:#fff;}
.search-list{ background-color:#fff;}
.search-list li { padding:10px; border-bottom:1px solid #f2f2f2; line-height:20px;}
.search-list li .t { position:relative;}
.search-list li .t .meta { position:absolute; right:0; top:0; height:20px; line-height:20px; font-size:12px; color:#999;}
.search-list li h2 { font-size:16px; color:#333;}
.search-list li p { font-size:12px; color:#999;}
.search-list li p span { margin-right:35px;}
.search .txt { outline:none; width:100%; height:32px; line-height:32px; font-size:16px; text-align:center; background-color:#fff; border:none; border-radius:4px;}

/*add*/
.add-customer { position:fixed; bottom:60px; right:15px; width:45px; height:45px; background-image:url(/public/mobile/images/ico_add.png);background-size:45px auto;}

/*score*/
.score-banner { position:relative; height:190px; background-image:url(/public/mobile/images/banner_bg.jpg);background-size:100% auto;}
.score-banner .logo {margin:0; position:fixed; left:22px; top:20px; background-image:url("/public/mobile/images/logo.png"); background-size:85px auto; width:85px; height:40px;}
.profile-nav { position:absolute; left:0; bottom:0; padding:10px 0; width:100%; height:40px; line-height:20px; font-size:16px; color:#fff;}
.profile-nav p { height:40px; text-align:center; border-left:1px solid rgba(255,255,255,0.25);}
.profile-nav p:first-child { border:none;}
.profile-nav p .num { font-size:12px;}
.profile-nav p span { display:block;}
.pay-list{background-color:#fff;}
.pay-list li { padding:10px; border-bottom:1px solid #f2f2f2; line-height:22px; overflow:hidden; font-size:16px; color:#333;}
.pay-list li .t { float:left; width:40%; height:22px; overflow:hidden; color:#bcbcbc}

/*reg*/
.reg-list { margin-top:20px;}
.reg-list li,.reg-txt { padding:10px 0; height:24px; background-color:#d4d4d4; border-bottom:1px solid #f2f2f2; background:#fbfbfb;}
.reg-list li .con,.reg-txt .con { margin:0 10px; height:24px;}
.reg-list li .txt,.reg-txt .txt,.reg-list li select { outline:none; width:100%; height:24px; line-height:24px; font-size:16px; border:none; background:#fbfbfb; font-family:"Microsoft Yahei";}
.reg-pic { margin:20px 0 0; width:100%;}
.reg-upload { width:100%; height:44px; line-height:44px; background-color:#fff; font-size:16px; color:#be2228; border:none;font-family:"Microsoft Yahei";}
.reg-next {margin:20px 0 0; width:100%; height:44px; line-height:44px; background-color:#46d42a; font-size:16px; color:#fff; border:none;font-family:"Microsoft Yahei";}
.reg-tip { margin-top:20px; line-height:40px; text-align:center; font-size:16px; color:#666;}
.reg-txt .txt { text-align:center;}

.topbar { position:relative; height:43px; line-height:43px; background-color:#000; font-size:16px; color:#fff; text-align:center;}
.topbar a { position:absolute; left:0; top:0; padding:0 10px; height:43px; color:#fff; text-decoration:none;}
.topbar .curr,.topbar a:hover { color:#c00000;}

/*detail*/
.detail-t { padding:0 10px; height:70px; line-height:70px;}
.detail-t .user {margin-right:15px; font-size:20px; color:#333;}
.detail-t .name { font-size:15px; color:#666;}
.detail-bar { margin:0 10px 0 5px;}
.detail-bar a {display:block; margin-left:5px; height:36px; line-height:36px; text-align:center; font-size:16px; color:#fff; text-decoration:none; background-color:#000;}
.detail-bar .contact { background-color:#c00000;}
.detail-list { margin:40px 0 0 15px; padding:1px 0 0; border-left:3px solid #c00000;}
.detail-list li {position:relative; margin:-25px 0 40px -6px; padding:10px 0 10px 26px; line-height:20px; font-size:14px;}
.detail-list li i { position:absolute; left:0; top:15px; width:8px; height:8px; border:1px solid #c00000; border-radius:5px; background-color:#fff;}
.detail-list li .case { display:inline-block; width:70px; color:#333}
.detail-list li time { color:#999;}













